/* 首页 */
.content{
    margin-bottom: 30px;
}
.content_div1{
    margin-bottom: 20px;
}
.img1{
    width: 100%;
    height: 5rem;
}
.content_p1{
    text-align: center;
    color: #888;
    font-size: 16px;
    letter-spacing: 4px;
}
.content_p2{
    text-align: center;
    font-size: 23px;
    color: #363534;
}
.content_div2 img{
    width: 4.5rem;
    height: 2.9rem;
    padding-right: 20px;
}
.content_div2 div{
    color: #2F2F2F;
    text-align: left;
    line-height: 31px;
    font-size: 15px;
    width: 50%;
    padding: 10px 20px;
}
.content_div2 a{
    font-size: 12px;
    display: block;
    width: 1.5rem;
    text-align: center;
    color: #575656;
    padding: 3px 0px;
    background: transparent;
    border: 1px solid #575656;
    margin: 20px auto;
}
.link_div1{
    padding: 0px 10px;
    margin-bottom: 10px;
    width: 23%;
}
.link_div1 a img{
    width: 100%;
    height: 2.3rem;
    transition: all .7s;
}
.link_div1 a img:hover{
    opacity: 0.7;
}
.link_div1 a{
    display: block;
    font-size: 15px;
    color: #363534;
    text-align: center;
    line-height: 20px;
    transition: all .7s;
}
.link_div1 a:hover{
    color: #0062b3;
}
.bgc{
    background-color: #F9F9F9;
    padding: 40px 0px;
    margin-bottom: 20px;
}
.news_div1{
    width: 25%;
    height: 1.5rem;
    padding-right: 30px;
    box-sizing: border-box;
}
.news_div1 .news_p1{
    border-bottom: 1px dotted #999;
    font-size: 16px;
    color: #666666;
    padding-bottom: 10px;
}
.news_div1 .news_p2{
    font-size: 13px;
}
.news_div1 .news_p2 a{
    font-size: 13px;
    font-weight: bold;
    color: #666666;
    line-height: 36px;
    transition:  all .7s;
    white-space: nowrap;
    overflow: hidden;
}
.news_div1 .news_p2 a:hover{
    color: #0062b3;
}
.news_div1 .news_p3{
    color: #999999;
    font-size: 13px;
    margin-bottom: 10px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
}
.news_div1>a{
    display: block;
    width: 80px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background-color: #999;
    padding: 7px 0px;
    transition:  all .7s;
}
.news_div1>a:hover{
    background-color: #666;
}
/* 关于我们 */
.gywm>.right{
    width: 75%;
    font-size: 20px;
}
.gywm_p1{
    border-bottom:1px solid #999;
    margin-bottom: 20px;
    position: relative;
    padding: 0px 5px;
    box-sizing: border-box;
}
.gywm_span1{
    font-size: 21px;
    color: #363534;
    line-height: 40px;
    font-weight: bold;
}
.gywm_span2{
    display: block;
    width: 100px;
    height: 1.5px;
    background-color: #0062b3;
    position: absolute;
    bottom: -1px;
    left: 0px;
}
.gywm_p2{
    font-size: 12px;
    line-height: 27px;
    text-indent: 2em;
    color: #000;
}
.gywm_p2 a{
    color: #337ab7;
}
.gywm_p2 a:hover{
    color: #23527c;
    text-decoration: underline;
}
.gywm_p2 span{
    color: red;
}
.gywm_p3{
    text-indent: 0em;
}
.gywm>.left{
    width: 25%;
    font-size: 14px;
    padding-right: 30px;
    box-sizing: border-box;
}
.gywm_div1{
    margin-bottom: 20px;
}
.gywm_div1>ul li{
    border-bottom: 1px dotted #ddd;
    padding: 10px 0px 10px 20px;
    background-image: url("../img/2.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.gywm_div1>ul li a{
    color: #2f2f2f;
    line-height: 21px;
    transition:  all  .7s;
}
.gywm_div1>ul li a:hover {
    color: #0062b3;
}
.gywm_div2{
    margin-bottom: 20px;
}
.gywm_p4{
    color: #2f2f2f;
    font-size: 14px;
    line-height: 25px;
    padding-left: 4px;
    box-sizing: border-box;
}
.gywm_p4 span{
    color: #ff0000;
}
/* 产品中心 */
.cpzx_div1{
    margin-bottom: 20px;
}
.cpzx_div2{
    width: 30%;
    float: left;
}
.cpzx_div3{
    margin: 0px 5%;
}
.cpzx_div2 a{
    display: block;
}
.cpzx_div2 a img{
    width:100%;
    height: 2.5rem;
    display: block;
    float: left;
    transition:  all .7s;
}
.cpzx_div2 a img:hover{
    opacity: .8;
}
.cpzx_div2 p{
    text-align: center;
}
.cpzx_div2 p a{
    color: #363534;
    font-size: 14px;
    line-height: 40px;
}
.cpzx_div2 p a:hover{
    color: #0062b3;
}
.cpzx_img2,.cpzx_img5,.cpzx_img8{
    margin: 0px 5%;
}
.cpzx_p1{
    margin-bottom:30px;
    text-align: center;
}
.cpzx_p1 a {
    display: inline-block;
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #31363c;
    margin-bottom: 10px;
    transition: all .7s;
}
.cpzx_p1 a:hover{
    background-color: #31363c;
    color: #fff;
    border: #000 1px solid;
}
/* 新闻中心 */
.gywm>.right>ul li a{
    font-size: 14px;
}
.gywm>.right>ul{
    margin-bottom: 20px;
    font-size: 14px;
}
.gywm>.right>ul li{
    border-bottom: 1px dotted #ddd;
    padding: 10px 0px 10px 20px;
    background-image: url("../img/2.png");
    background-repeat: no-repeat;
    background-position: 5px 15px;
    clear: both;
    display: block;
    content: "";
}
.gywm>.right>ul li a{
    color: #2f2f2f;
    line-height: 18px;
    transition:  all  .7s;
}
.gywm>.right>ul li span{
    color: #898989;
    line-height: 18px;
}
.gywm>.right>ul li a:hover{
    color: #0062b3;
}
@media only screen and (max-width:1200px) and (min-width:800px) {
    .bx{
        width: 800px;
    }
    html{
        font-size: 80px;
    }
    .nav ul li .nav_a1 {
        font-size: 12px;
        padding: 0.15rem 0.29rem;
        background-color: #0062b3;
        margin-right: 1px;
    }
    .nav_ul1 li a {
        display: block;
        color: #fff;
        font-size: 12px;
        padding: 0.15rem 0.29rem;
    }
    .content_div2 img {
        float: right;
        padding-right: 0px;
    }
    .content_div2 div {
        width: 100%;
        padding: 0px;
    }
    .link_div1{
        width: 30%;
    }
    .news_div1 {
        width: 33%;
        height: 2rem;
        box-sizing: border-box;
    }
    .gywm>.left{
        width: 35%;
    }
    .gywm>.right{
        width: 65%;
    }
    .cpzx_p1 a {
        padding: 5px 10px; 
    }
}
@media only screen and (max-width:1100px) and (min-width:820px) {
    .content_div2{
        text-align: center;
    }
    .content_div2 img {
        float: none;
    }
    .lb{
        display: none;
    }
}
@media only screen and (max-width:820px) and (min-width:480px) {
    html{
        font-size: 60px;
    }
    .bx{
        width: 100%;
        padding: 0px 40px;
        box-sizing: border-box;
    }
    .header .bx>.left {
        display: none;
    }
    .header .bx .header_p1 {
       width: 92%;
       float: none;
       margin: 0px auto;
       margin: 10px;
    }
    .nav_ul1{
        display: none;
    }
    .nav_ul2{
        display: block;
    }
    .content_div2{
        text-align: center;
    }
    .content_div2 img{
        float: none;
        width: 5.5rem;
        height: 3.9rem;
        padding-right: 0px;
    }
    .content_div2 div {
        width: 100%;
        padding: 0px;
    }
    .link_div1 {
        width: 47%;
    }
    .link_div1 a img {
        height: 3rem;
    }
    .news_div1 {
        width: 50%;
        height: 3rem;
    }
    .content_div2 a {
        width: 2rem;
    }
    .gywm>.left{
        width: 40%;
    }
    .gywm>.right{
        width: 60%;
    }
    .cpzx_p1 a {
        padding: 5px 5px;
        font-size: 12px; 
    }
    .lb{
        display: none;
    }
}
@media only screen and (max-width:785px) and (min-width:480px) {
    .link2_p1 {
        display: none;
    }
    .gywm>.left{
        float: none;
        width: 100%;
        padding-right: 0px;
    }
    .gywm>.right{
        float: none;
        width: 100%;
    }
    .cpzx_div3{
        margin: 0px;
    }
    .cpzx_div2{
        width: 48%;
        float: left;
        margin: 0px 1%;
    }
}
@media only screen and (max-width:750px) and (min-width:480px) {
    .link_div1 {
        width: 100%;
    }
    .link_div1 a img {
        height: 5rem;
    }
}
@media only screen and (max-width:550px) and (min-width:480px) {
    .link_div1 {
        width: 100%;
    }
    .link_div1 a img {
        height: 5rem;
    }
    .cpzx_div3{
        margin: 0px;
    }
    .cpzx_div2{
        width: 98%;
        float: none;
        margin: 0px 1%;
    }
}
@media only screen and (max-width:480px) and (min-width:0px) {
    html{
        display: none;
    }
}

