*{
    padding: 0px;
    margin: 0px;
}
.div1 {
    width: 500px;
    background-color: rgb(235, 177, 123);
    margin:10px auto;
    padding-top: 40px;
}
.d{
    width: 300px;
    margin: auto;
    
    padding-bottom: 20px;
}
p {
    font-family: "宋体";
    font-size: 30px;
    font-weight: bold;
    color:rgb(255, 251, 0);
    
}
.div2{
    width: 300px;
    height:30px;
    margin:10px auto;
    border: 1.5px solid rgb(145, 145, 145);
    border-radius: 5px;
}
.div2_1{
    background-image: url("../img/user.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 5px;
}
.div2_1:hover{
    background-image: url("../img/用户.png");
}
.div2_2{
    background-image: url("../img/手机.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 5px;
}
.div2_2:hover {
    background-image: url("../img/手机\ \(1\).png");
}
.div2_3{
    width: 300px;
    background-image: url("../img/验证码.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 5px;
}
.div2_3:hover {
    background-image: url("../img/验证码\ \(1\).png");
}
.div2_4{
    background-image: url("../img/手机验证码.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 5px;
}
.div2_4:hover{
    background-image: url("../img/手机验证码\ \(1\).png");
}
.div2_5,.div2_6{
    background-image: url("../img/shopping.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 5px;
}
.div2_5:hover,.div2_6:hover{
    background-image: url("../img/密码.png");
}
.input1 {
    width: 160px;
    height: 30px;
    border: none;
    background: transparent;
    outline: none;
    margin-left: 40px;
}
.input2 {
    width: 50px;
    height: 30px;
    border: 1.5px solid rgb(145, 145, 145);
    background: transparent;
    outline: none;
    border-radius: 5px; 
}
.input3 {
    width: 100px;
    height: 33px;
    border: 1.5px solid rgb(238, 219, 52);
    background: rgb(255, 174, 0);
    border-radius: 5px; 
    float: right;
}
.button {
    width: 100px;
    height: 33px;
    border: 1.5px solid rgb(145, 145, 145);
    background: transparent;
    outline: none;
    border-radius: 5px; 
    float: right;
}
.div3{ 
    width: 300px;
    height:30px;    
}
.button1 {
    width: 10px;
    height: 10px;
}
.button2 {
    width: 300px;
    height:30px;
    margin-top: 10px;
    margin-bottom: 70px;
    margin: auto;
    font-family: "宋体";
    font-weight: bold;
    font-size: 17px;
    color: white;
    background: rgb(255, 174, 0);
    border: none;
    border-radius: 5px;
}
a {
    color:rgb(255, 251, 0);
    text-decoration: none;
}
.yzm {
    height: 30px;
    width: 196px;
    float: left;
    border-radius: 5px;
    border: 1.5px solid rgb(145, 145, 145);
}
.btn {
    width: 101px;
    float: left;
    
}
.div2_3,.div2_4{
    border: none;
}